.nav-container{
    height: 5vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.home-button{
    list-style-type: none;
}

.navbar{
    display: flex;
    width: 30vw;
    justify-content: space-around;

}

.navlist{
    list-style-type: none;
    color: white;
    background-color: rgb(36, 39, 84);
}

.Banner{
    background-color: rgb(12, 15, 34);
    color: white;
    text-align: center;
    font-size: 2.5em;
    padding: 13vh 0vh
}

.find-movies h1{
    text-align: center;
    font-size: 2.5em;
    color: white;
    padding: 5vh 0vh;
}

.newinput{
    height: 5vh;
    display: flex;
    margin-left:40vw;
    margin-right:38vw;
    justify-content: space-between;
    align-items: center;
}

.newinput input{
    border-radius:30px;
    width: 90%;
    height: 80%;
}

.newinput button {
    margin: 5%;
    background-color: rgb(244, 215, 0);
    color: black;
}