
body{
    background-color: rgb(36, 39, 84);
  
  }
  
  .app-container{
    margin-top : 200px;
    position: absolute;
    z-index:0;
    top:0;
    left:0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: auto;
  }
  
  .movie-container{
    width: 250px;
    height: 450px;
    margin: 16px;
    background-color:rgb(56, 75, 117);
    color: white;
    border-radius: 5px;
  
  
  }
  
  .movie-container img{
    max-width: 100%;
    border-radius: 5px;
  
  }
  
  .movie-info{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    width:210px;
    padding: 10px 20px 20px 20px;
    color: white;
  }
  
  .movie-info h4{
    margin: 0;
    padding-right : 5px;
    
  }
  
  .movie-info span {
    margin-left: 3px;
  }
  
  
  
  
  .modal-board{
    position:absolute;
    z-index:1;
    top:0;
    left:0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: auto;
  }
  .modal-container{
    opacity:0;
    visibility: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-right: 0px;
    width: 250px;
    height: 450px;
    margin: 16px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    background-color:rgba(30, 29, 31, 0.7);
    color: white;
    border-radius: 5px;
  }
  
  .modal-info{
    justify-content: space-between;
    align-items: center;
    width: 250px;
    padding: 30px 10px;
  }
  
  
  .modal-info h4{
    margin: 0;
    padding-top: 10px;
    padding-left: 2px;
    padding-bottom: 25px;
  }
  
  .modal-info span {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 5px;
    padding-left: 2px;
    font-size: 16px;
    width: 230px;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .modal-container:hover {
    opacity:1;
    visibility: visible;
  }
  
  